body {
    margin: 0;
    min-height: 100vh;
}

#content {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: space-between;
}

/* --- Header --- */
header {
    box-sizing: border-box;
    padding: 16px;
    padding-left: 32px;

    background-color: #345E71;
    color: #FFFCEF;
}

.nav-div {
    display: flex;
    justify-content: space-between;

}

nav > ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
}

nav > ul > li {
    cursor: pointer;
}

.hero-subtitle {
    width: max(300px, 60%);
}

/* --- Main --- */
.main {
    flex-grow: 1;
}

/* --- Footer --- */
footer {
    background-color: #345E71;
    color: #FFFCEF;
    text-align: center;
    padding-block: 8px;
}

