.landing-slot {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-block: 32px;
    margin-inline: 128px;
}

.landing-img {
    width: 350px;
    height: 220px;
    background-color: #345E71;
}
