.menu-slot {
    text-align: center;
}

.menu-slot-img {
    width: 350px;
    height: 220px;
    background-color: #345E71;
}

.menu-slot-title {
    text-overflow: ellipsis;
    overflow:hidden;
    white-space: nowrap;
}
.menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    margin: 32px;
    gap: 32px;
}

